<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta name="referrer" content="same-origin">
<script type="text/javascript" src="js/jquery.js?5a9dcfbef655a2668e78baebeaa8dc6f41d8dabb"></script>
<meta name="viewport" content="width=960">
<style>@font-face{font-family:"Lustria";src:url('css/Lustria-Regular.woff2') format('woff2'),url('css/Lustria-Regular.woff') format('woff');font-weight:400}@font-face{font-family:"EB Garamond";src:url('css/EBGaramond-Regular.woff2') format('woff2'),url('css/EBGaramond-Regular.woff') format('woff');font-weight:400}body,div{font-size:0}p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto}sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em}sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em}ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;padding:0;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0}li{display:block}li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}form{display:inline-block}a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0)}textarea{resize:none}.shm-l{float:left;clear:left}.shm-r{float:right;clear:right}.whitespacefix{word-spacing:-1px}video:not(#vbk):not(.videoinline){width:100%;max-width:900px}video:-webkit-full-screen{max-width:100% !important}video:-moz-full-screen{max-width:100% !important}video:-ms-fullscreen{max-width:100% !important}video:fullscreen{max-width:100% !important}.player1.fullscreen1-active video{max-width:100% !important}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1,h2,h3,h4,h5,h6{font-size:1em;line-height:1;margin:0em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text],input[type=password]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }.menu-content{cursor:pointer;position:relative}li{-webkit-tap-highlight-color:rgba(0,0,0,0)}
#b{background-color:transparent;background:transparent url(icons/theme.png) repeat center top}.v{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps{position:relative;margin-top:3px}.s{width:100%;min-width:960px;min-height:78px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(bottom, rgb(108,113,196) 0%, rgb(220,50,47) 100%);height:78px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(bottom, rgb(108,113,196) 0%, rgb(220,50,47) 100%);height:78px}.c{z-index:1;pointer-events:none;border-top:1px solid #404040;border-bottom:1px solid #404040;-webkit-border-radius:28px;-moz-border-radius:28px;border-radius:28px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(108,113,196)), color-stop(1, rgb(220,50,47)));background-image:-o-linear-gradient(top, rgb(108,113,196) 0%, rgb(220,50,47) 100%);background-image:-webkit-linear-gradient(top, rgb(108,113,196) 0%, rgb(220,50,47) 100%);background-image:-ms-linear-gradient(top, rgb(108,113,196) 0%, rgb(220,50,47) 100%);background-image:linear-gradient(to top, rgb(108,113,196) 0%, rgb(220,50,47) 100%);background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.ps2{position:relative;margin-top:4px}.v2{display:block;*display:block;zoom:1;vertical-align:top}.s2{min-width:960px;width:960px;margin-left:auto;margin-right:auto}.v3{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps3{position:relative;margin-left:-1px;margin-top:0}.s3{min-width:962px;width:962px;min-height:69px}.v4{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps4{position:relative;margin-left:0;margin-top:5px}.s4{min-width:59px;width:59px;min-height:59px}.c3{z-index:2;pointer-events:auto}.f{padding-top:28px;padding-bottom:29px;margin-top:0;margin-bottom:0;line-height:0}.button{border:1px solid #f4f4f4;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background-image:url(icons/home.png);background-color:transparent;background-repeat:no-repeat;background-position:0 0;background-size:cover;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.button:hover{background-color:#82939e;border-color:#000;color:#000}.button:active{background-color:#52646f;border-color:#000;color:#c0c0c0}.v5{display:inline-block;overflow:hidden;outline:0}.s5{width:57px;height:0}.v6{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden;outline:0}.ps5{position:relative;margin-left:25px;margin-top:12px}.s6{width:45px;height:45px}.s7{width:45px}.f2{padding-top:22px;padding-bottom:23px;margin-top:0;margin-bottom:0;line-height:0}.c4{z-index:3;pointer-events:auto;border:1px solid #677a85;-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px;background-image:url(icons/messages.jpeg);background-color:transparent;background-repeat:no-repeat;background-position:50% 100%;background-size:contain;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.c4:hover{background-color:#82939e;border-color:#000;color:#000}.c4:active{background-color:#52646f;border-color:#000;color:#c0c0c0}.v7{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden;outline:0}.ps6{position:relative;margin-left:20px;margin-top:12px}.s8{width:49px;height:48px}.s9{width:49px}.f3{padding-top:24px;padding-bottom:24px;margin-top:0;margin-bottom:0;line-height:0}.c5{z-index:4;pointer-events:auto;border:1px solid #677a85;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;background-image:url(icons/account.jpeg);background-color:rgba(158,175,185,.02);background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.c5:hover{background-color:#82939e;border-color:#000;color:#000}.c5:active{background-color:#52646f;border-color:#000;color:#c0c0c0}.v8{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps7{position:relative;margin-left:139px;margin-top:18px}.s10{min-width:257px;width:257px;min-height:39px;height:39px}.c6{z-index:5;pointer-events:auto}.p{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f4{font-family:"Redacted Script";font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none}.v9{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden;outline:0}.ps8{position:relative;margin-left:295px;margin-top:0}.s11{width:67px;height:67px}.s12{width:67px}.f5{padding-top:33px;padding-bottom:34px;margin-top:0;margin-bottom:0;line-height:0}.c7{z-index:7;pointer-events:auto;border:1px solid #677a85;-webkit-border-radius:35px;-moz-border-radius:35px;border-radius:35px;background-image:url(icons/alert.jpeg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.c7:hover{background-color:#82939e;border-color:#000;color:#000}.c7:active{background-color:#52646f;border-color:#000;color:#c0c0c0}.ps9{position:relative;margin-top:1px}.v10{display:block;*display:block;zoom:1;vertical-align:top}.s13{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto}.v11{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps10{position:relative;margin-left:20px;margin-top:0}.s14{min-width:941px;width:941px;min-height:269px}.v12{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:visible}.ps11{position:relative;margin-left:0;margin-top:66px}.s15{min-width:64px;width:64px;min-height:64px;height:64px}.c9{z-index:17;pointer-events:auto}.v13{display:inline-block;*display:inline-block;zoom:1;vertical-align:top}.ps12{position:relative;margin-left:0;margin-top:0}.s16{min-width:64px;width:64px;min-height:64px;height:64px}.m{padding:0px 0px 0px 0px}.v14{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps13{position:relative;margin-left:0;margin-top:0}.s17{min-width:64px;width:64px;min-height:64px;height:64px}.mcv{display:inline-block}.v15{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps14{position:relative;margin-left:0;margin-top:0}.s18{min-width:64px;width:64px;min-height:64px}.c10{pointer-events:none;border:0;-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;background-image:url(icons/event.png);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-clip:padding-box;box-shadow:1px 0 0 rgba(0,0,0,.40)}.v16{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps15{position:relative;margin-left:0;margin-top:22px}.s19{min-width:64px;width:64px;min-height:19px;height:19px}.c11{pointer-events:auto}.p2{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f6{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:transparent;background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none}.v17{display:none;*display:none;zoom:1;vertical-align:top}.ps16{position:relative;margin-left:0;margin-top:0}.s20{min-width:143px;width:143px;min-height:62px;height:62px}.m2{padding:0px 0px 0px 0px}.ml{outline:0}.v18{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps17{position:relative;margin-left:0;margin-top:0}.s21{min-width:143px;width:143px;min-height:30px;height:30px}.mcv2{display:inline-block}.v19{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps18{position:relative;margin-left:0;margin-top:0}.s22{min-width:141px;width:141px;min-height:28px}.c12{pointer-events:none;border:1px solid #000;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;background-color:#f4f4f4;box-shadow:0 2px 4px rgba(0,0,0,.40)}.v20{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps19{position:relative;margin-left:0;margin-top:4px}.s23{min-width:141px;width:141px;min-height:20px;height:20px}.c13{pointer-events:auto}.p3{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f7{font-family:Lustria;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:17px;letter-spacing:normal;text-shadow:none}.ml2{outline:0}.v21{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps20{position:relative;margin-left:0;margin-top:2px}.s24{min-width:143px;width:143px;min-height:30px;height:30px}.mcv3{display:inline-block}.v22{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps21{position:relative;margin-left:0;margin-top:0}.s25{min-width:141px;width:141px;min-height:28px}.c14{pointer-events:none;border:1px solid #000;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;background-color:#f4f4f4;box-shadow:0 2px 4px rgba(0,0,0,.40)}.v23{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps22{position:relative;margin-left:0;margin-top:4px}.s26{min-width:141px;width:141px;min-height:20px;height:20px}.c15{pointer-events:auto}.p4{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f8{font-family:Lustria;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:17px;letter-spacing:normal;text-shadow:none}.v24{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps23{position:relative;margin-left:0;margin-top:74px}.s27{min-width:98px;width:98px;min-height:39px;height:39px}.c16{z-index:18;pointer-events:auto}.p5{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f9{font-family:"EB Garamond";font-size:21px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:39px;letter-spacing:normal;text-shadow:none}.v25{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps24{position:relative;margin-left:570px;margin-top:0}.s28{min-width:207px;width:207px;min-height:267px}.c17{z-index:6;border:1px double #2a76a1;background-color:transparent}.v26{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps25{position:relative;margin-left:53px;margin-top:17px}.s29{min-width:102px;width:102px;min-height:96px;height:96px}.c18{z-index:9;pointer-events:auto}.i{position:absolute;left:0;width:100px;height:94px;top:0}.i2{left:0;width:100px;height:94px;top:0;display:inline-block}.v27{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps26{position:relative;margin-left:18px;margin-top:20px}.s30{min-width:148px;width:148px;min-height:26px}.v28{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps27{position:relative;margin-left:0;margin-top:5px}.s31{min-width:36px;width:36px;min-height:21px;height:21px}.c20{z-index:8;pointer-events:auto}.i3{position:absolute;left:7px;width:22px;height:21px;top:0;-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;border:0}.i4{left:7px;width:22px;height:21px;top:0;display:inline-block}.v29{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps28{position:relative;margin-left:17px;margin-top:0}.s32{min-width:95px;width:95px;min-height:26px;height:26px}.c21{z-index:13;pointer-events:auto}.p6{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f10{font-family:"Redacted Script";font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none}.v30{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps29{position:relative;margin-left:24px;margin-top:18px}.s33{min-width:142px;width:142px;min-height:29px}.v31{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps30{position:relative;margin-left:0;margin-top:0}.s34{min-width:22px;width:22px;min-height:22px;height:22px}.c23{z-index:10;pointer-events:auto}.i5{position:absolute;left:0;width:22px;height:22px;top:0;-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;box-shadow:0 2px 4px rgba(0,0,0,.40);border:0}.i6{left:0;width:22px;height:22px;top:0;display:inline-block}.v32{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps31{position:relative;margin-left:24px;margin-top:0}.s35{min-width:96px;width:96px;min-height:29px;height:29px}.c24{z-index:11;pointer-events:auto}.p7{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f11{font-family:"Redacted Script";font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none}.v33{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps32{position:relative;margin-left:26px;margin-top:8px}.s36{min-width:150px;width:150px;min-height:44px}.v34{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps33{position:relative;margin-left:0;margin-top:0}.s37{min-width:20px;width:20px;min-height:44px;height:44px}.c26{z-index:12;pointer-events:auto}.i7{position:absolute;left:0;width:20px;height:21px;top:11px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;box-shadow:0 2px 4px rgba(0,0,0,.40);border:0}.i8{left:0;width:20px;height:21px;top:11px;display:inline-block}.v35{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps34{position:relative;margin-left:24px;margin-top:9px}.s38{min-width:106px;width:106px;min-height:27px;height:27px}.c27{z-index:14;pointer-events:auto}.p8{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f12{font-family:"Redacted Script";font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:26px;letter-spacing:normal;text-shadow:none}.v36{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps35{position:relative;margin-left:824px;margin-top:109px}.s39{min-width:136px;width:136px;min-height:39px}.v37{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:visible}.ps36{position:relative;margin-left:0;margin-top:0}.s40{min-width:39px;width:39px;min-height:39px;height:39px}.c29{z-index:16;pointer-events:auto}.v38{display:inline-block;*display:inline-block;zoom:1;vertical-align:top}.ps37{position:relative;margin-left:0;margin-top:0}.s41{min-width:39px;width:39px;min-height:39px;height:39px}.m3{padding:0px 0px 0px 0px}.v39{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps38{position:relative;margin-left:0;margin-top:0}.s42{min-width:39px;width:39px;min-height:39px;height:39px}.mcv4{display:inline-block}.v40{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps39{position:relative;margin-left:0;margin-top:0}.s43{min-width:37px;width:37px;min-height:37px}.c30{pointer-events:none;border:1px solid #2a76a1;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background-image:url(icons/playlist.jpeg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:contain;background-clip:padding-box;box-shadow:0 2px 4px rgba(0,0,0,.40)}.v41{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps40{position:relative;margin-left:0;margin-top:9px}.s44{min-width:37px;width:37px;min-height:19px;height:19px}.c31{pointer-events:auto}.p9{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f13{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:transparent;background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none}.v42{display:none;*display:none;zoom:1;vertical-align:top}.ps41{position:relative;margin-left:0;margin-top:0}.s45{min-width:118px;width:118px;min-height:80px;height:80px}.m4{padding:0px 0px 0px 0px}.ml3{outline:0}.v43{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps42{position:relative;margin-left:0;margin-top:0}.s46{min-width:118px;width:118px;min-height:26px;height:26px}.mcv5{display:inline-block}.v44{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps43{position:relative;margin-left:0;margin-top:0}.s47{min-width:118px;width:118px;min-height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px}.c32{pointer-events:none;border:0;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(192,192,192)), color-stop(1, rgb(103,122,133)));background-image:-o-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-webkit-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-ms-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:linear-gradient(to bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-clip:padding-box}.v45{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps44{position:relative;margin-left:0;margin-top:3px}.s48{min-width:118px;width:118px;min-height:19px;height:19px}.c33{pointer-events:auto}.p10{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f14{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none}.ml4{outline:0}.v46{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps45{position:relative;margin-left:0;margin-top:1px}.s49{min-width:118px;width:118px;min-height:26px;height:26px}.mcv6{display:inline-block}.v47{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps46{position:relative;margin-left:0;margin-top:0}.s50{min-width:118px;width:118px;min-height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px}.c34{pointer-events:none;border:0;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(192,192,192)), color-stop(1, rgb(103,122,133)));background-image:-o-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-webkit-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-ms-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:linear-gradient(to bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-clip:padding-box}.v48{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps47{position:relative;margin-left:0;margin-top:3px}.s51{min-width:118px;width:118px;min-height:19px;height:19px}.c35{pointer-events:auto}.p11{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f15{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none}.ml5{outline:0}.v49{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps48{position:relative;margin-left:0;margin-top:1px}.s52{min-width:118px;width:118px;min-height:26px;height:26px}.mcv7{display:inline-block}.v50{display:inline-block;*display:inline;zoom:1;vertical-align:top}.ps49{position:relative;margin-left:0;margin-top:0}.s53{min-width:118px;width:118px;min-height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px;behavior:url(js/PIE.htc);-pie-background:linear-gradient(top, rgb(192,192,192) 0%, rgb(103,122,133) 100%);height:26px}.c36{pointer-events:none;border:0;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(192,192,192)), color-stop(1, rgb(103,122,133)));background-image:-o-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-webkit-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:-ms-linear-gradient(bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-image:linear-gradient(to bottom, rgb(192,192,192) 0%, rgb(103,122,133) 100%);background-clip:padding-box}.v51{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps50{position:relative;margin-left:0;margin-top:3px}.s54{min-width:118px;width:118px;min-height:19px;height:19px}.c37{pointer-events:auto}.p12{padding-top:0;text-indent:0;padding-right:0;text-align:center}.f16{font-family:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;font-size:12px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:16px;letter-spacing:normal;text-shadow:none}.v52{display:inline-block;*display:inline;zoom:1;vertical-align:top;overflow:hidden}.ps51{position:relative;margin-left:38px;margin-top:-39px}.s55{min-width:98px;width:98px;min-height:39px;height:39px}.c38{z-index:15;pointer-events:auto}.p13{padding-top:0;text-indent:0;padding-right:0;text-align:left}.f17{font-family:"EB Garamond";font-size:21px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:#000;background-color:initial;line-height:39px;letter-spacing:normal;text-shadow:none}.menu-device{background-color:rgb(0,0,0);display:none}@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {.button{background-image:url(images/download-114.png?2230-F9A3F0B0-60AB-4922-8ECE-492A28A2CD42-960-2-public.png-0-images-969c0b59f6dc3839a617cb649d55c89cbd44d570);background-size:cover}.c4{background-image:url(images/images-90.jpeg?2230-1470C3DA-EE04-4E1F-884F-3B7E7250B288-960-2-public.jpeg-0-images-1ef7df1e02fe0ac17b4429a04eadbf12fb4cf667);background-size:contain}.c5{background-image:url(images/download-98.jpeg?2230-2ECED143-BD5C-46EB-92BE-8DEC58E3348C-960-2-public.jpeg-0-images-8c550e6991840ecf6c5563660e1db9791808f17a);background-size:contain}.c7{background-image:url(images/images-1--134.jpeg?2230-A3E84DE0-8B21-4276-98DA-C5069AE201D1-960-2-public.jpeg-0-images-5d0fa89066605d8a8ddeece001d8953b9912046b);background-size:contain}.c10{background-image:url(images/event-116.jpg?2230-1D2ACE2E-5133-421C-899B-E12F4CED85A5-960-2-public.jpeg-0-images-bfbf49e56028ac2b85a7ee5e273741e9c0b6a665);background-size:contain}.c30{background-image:url(images/playlist-74.jpeg?2230-E1CE8836-DCBE-4556-969A-05ABFC2E30A2-960-2-public.jpeg-0-images-0b73ae0e0ca24c5764d6236404c28c647e92aa51);background-size:contain}}</style>
</head>
<body id="b">
<link rel="stylesheet" href="css/site.0.css?8dc66f26c441efc578145c45bc8a609fbea9d2a0" type="text/css">
<!--[if lte IE 7]>
<link rel="stylesheet" href="css/site.0-lteIE7.css" type="text/css">
<![endif]-->
<!--[if lte IE ]>
<link rel="stylesheet" href="css/site.0-lteIE8.css" type="text/css">
<![endif]-->
<!--[if gte IE 9]>
<link rel="stylesheet" href="css/site.0-gteIE9.css" type="text/css">
<![endif]-->
<div class="v ps s c">
<div class="ps2 v2 s2">
<div class="v3 ps3 s3 c2">
<div class="v4 ps4 s4 c3">
<a class="f button v5 s5" href="#"></a>
</div>
<div class="v6 ps5 s6 c4">
<p class="s7 f2">

</p>
</div>
<div class="v7 ps6 s8 c5">
<p class="s9 f3">

</p>
</div>
<div class="v8 ps7 s10 c6">
<p class="p f4">Lorem ipsum dolor sit amet,</p>
</div>
<div class="v9 ps8 s11 c7">
<p class="s12 f5">

</p>
</div>
</div>
</div>
</div>
<div class="ps9 v10 s13">
<div class="v11 ps10 s14 c8">
<div class="v12 ps11 s15 c9">
<ul class="menu-dropdown-3 v13 ps12 s16 m" id="m2">
<li class="v14 ps13 s17 mit">
<div class="menu-content mcv">
<div class="v15 ps14 s18 c10">
<div class="v16 ps15 s19 c11">
<p class="p2 f6">Menu</p>
</div>
</div>
</div>
<ul class="menu-dropdown-1 v17 ps16 s20 m2">
<li class="v18 ps17 s21 mit2">
<a class="ml" href="#"><div class="menu-content mcv2"><div class="v19 ps18 s22 c12"><div class="v20 ps19 s23 c13"><p class="p3 f7">add Event</p></div></div></div></a>
</li>
<li class="v21 ps20 s24 mit3">
<a class="ml2" href="#"><div class="menu-content mcv3"><div class="v22 ps21 s25 c14"><div class="v23 ps22 s26 c15"><p class="p4 f8">event2</p></div></div></div></a>
</li>
</ul>
</li>
</ul>
</div>
<div class="v24 ps23 s27 c16">
<p class="p5 f9">My Events</p>
</div>
<div class="v25 ps24 s28 c17">
<div class="v26 ps25 s29 c18">
<picture class="i2 js5">
<source srcset="icons/profile.png">
<img src="icons/profile.png" title="Avatar" alt="profile img" class="js i">
</picture>
</div>
<div class="v27 ps26 s30 c19">
<div class="v28 ps27 s31 c20">
<picture class="i4">
<source srcset="icons/profile.png"/>
<img src="icons/profile.png" alt="" class="js2 i3">
</picture>
</div>
<div class="v29 ps28 s32 c21">
<p class="p6 f10">Lorem</p>
</div>
</div>
<div class="v30 ps29 s33 c22">
<div class="v31 ps30 s34 c23">
<picture class="i6 js6">
<source srcset="icons/location.jpeg">
<img src="icons/location.jpeg" alt="" class="js3 i5">
</picture>
</div>
<div class="v32 ps31 s35 c24">
<p class="p7 f11">Lorem ipsum</p>
</div>
</div>
<div class="v33 ps32 s36 c25">
<div class="v34 ps33 s37 c26">
<picture class="i8">
<source srcset="icons/dob.png">
<img src="icons/dob.png" alt="" class="js4 i7">
</picture>
</div>
<div class="v35 ps34 s38 c27">
<p class="p8 f12">Lorem ipsum</p>
</div>
</div>
</div>
</div>
<div class="v36 ps35 s39 c28">
<div class="v37 ps36 s40 c29">
<ul class="menu-dropdown v38 ps37 s41 m3" id="m1">
<li class="v39 ps38 s42 mit4">
<div class="menu-content mcv4">
<div class="v40 ps39 s43 c30">
<div class="v41 ps40 s44 c31">
<p class="p9 f13">Menu</p>
</div>
</div>
</div>
<ul class="menu-dropdown-2 v42 ps41 s45 m4">
<li class="v43 ps42 s46 mit5">
<a class="ml3" href="#"><div class="menu-content mcv5"><div class="v44 ps43 s47 c32"><div class="v45 ps44 s48 c33"><p class="p10 f14">item1</p></div></div></div></a>
</li>
<li class="v46 ps45 s49 mit6">
<a class="ml4" href="#"><div class="menu-content mcv6"><div class="v47 ps46 s50 c34"><div class="v48 ps47 s51 c35"><p class="p11 f15">Item2</p></div></div></div></a>
</li>
<li class="v49 ps48 s52 mit7">
<a class="ml5" href="#"><div class="menu-content mcv7"><div class="v50 ps49 s53 c36"><div class="v51 ps50 s54 c37"><p class="p12 f16">Item3</p></div></div></div></a>
</li>
</ul>
</li>
</ul>
</div>
<div class="v52 ps51 s55 c38">
<p class="p13 f17">My Playlist</p>
</div>
</div>
</div>
<script type="text/javascript" src="js/jqueryui.js?1d46ea9d52eea407d532dbf257f583c23cedd533"></script>
<script type="text/javascript" src="js/menu.js?76145f644fd118708c9d95ca94378ddcf40db2e8"></script>
<script type="text/javascript" src="js/menu-dropdown-animations.min.js?765a0e5874370d2db3de2dc3fcfa360a1fe7229c"></script>
<script type="text/javascript" src="js/menu-dropdown.0.js?7acea4c37b230d516e4eb12d6b295ceed3e337df"></script>
<script type="text/javascript" src="js/menu-dropdown-1.0.js?68a25f03d03b4192ae1b063daa120931cb8dbb1b"></script>
<script type="text/javascript" src="js/menu-dropdown-2.0.js?2c645b2d2cab8559b258444b3463d6d6dc077bcc"></script>
<script type="text/javascript" src="js/menu-dropdown-3.0.js?1fd5a73f4754f34768ba921b1544a27805982c5b"></script>
<script type="text/javascript" src="js/unveil.js?164dfb97ee1e98938dcd12245e885740f801b91c"></script>
<script type="text/javascript" src="js/index.0.js?b82a1bd843cc648b65d55555885d455eb8079357"></script>
<script type="text/javascript">
var ver=RegExp(/Mozilla\/5\.0 \(Linux; .; Android ([\d.]+)/).exec(navigator.userAgent);if(ver&&parseFloat(ver[1])<5){document.getElementsByTagName('body')[0].className+=' whitespacefix';}
</script>
</body>
</html>